body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.site {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.site-content {
  flex: 1;
}

.header {
  background: url("./assets/images/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  min-height: 200px;
  padding-top: 180px;
  padding-bottom: 100px;
}
