<div class="site">
  <div class="site-content">
    <div class="container">
      <nav class="navbar navbar-expand navbar-dark">
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a
              class="nav-item nav-link"
              [routerLink]="['/home']"
              routerLinkActive="active"
              ><i class="d-none d-sm-inline-block fas fa-home mx-1"></i>Home
            </a>
            <a
              class="nav-item nav-link"
              [routerLink]="['/portfolio']"
              routerLinkActive="active"
              ><i class="d-none d-sm-inline-block fas fa-images mx-1"></i
              >Portfolio</a
            >
            <a
              class="nav-item nav-link"
              [routerLink]="['/contact']"
              routerLinkActive="active"
              ><i class="d-none d-sm-inline-block fas fa-envelope mx-1"></i
              >Contact</a
            >
          </div>
        </div>
      </nav>
    </div>
    <div class="header">
      <div class="container">
        <h1>Sameer Bhati</h1>
        <h2>UI Developer</h2>
      </div>
    </div>
    <main class="container">
      <router-outlet></router-outlet>
    </main>
  </div>
  <footer class="footer container">
    <div class="row">
      <div class="col-12 col-sm-6">
        <p>Copyright &copy; 2019 Sameer Bhati</p>
      </div>
      <div class="col-12 col-sm-6">
        <ul class="social-icons float-right mt-3">
          <li><i class="fab fa-facebook"></i></li>
          <li><i class="fab fa-twitter"></i></li>
          <li><i class="fab fa-instagram"></i></li>
        </ul>
      </div>
    </div>
  </footer>
</div>
